body{
    margin: 0;
    font-family: 'Libre Baskerville', serif;
}
#background-video{
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100vw;
    height: 100vh;
    display: flex;
    object-fit: fill;
    margin: 0;
    z-index: -1;
}


#header{
    position: fixed;
    top: 0;
    display: flex;
    min-width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.205);
    z-index: 1;

    min-height: 20vh;
}

#header-img{
    max-width: 50%;
    max-height: 20vh;
    margin: 0 0 0 5vw;
    
}


ul{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20vw;
    list-style-type: none;
    padding: 0;

}

.nav-link{
    font-size: large;
}

li:hover{
    transform: scale(1.3);
}

.nav-link{
    text-decoration: none;
    color: black;
}



#content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

#tesla-video{
    margin: 5rem 0 5rem 0;
}

#tesla-models{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#title{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Stalinist One', cursive;
}
.car-images{
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.car{
    max-width: 100%;
    height: auto;
}

#model-3{
    margin-top: 2rem;
}

#model-x{

}

#model-y{
    margin-top: 2rem;
}

#model-s{
    margin-right: 5rem;
}


#form{
    height: 60vh;
    display: grid;
    grid-template-rows: 30px 20px;
    row-gap: 10px;

}

input[type="submit"]{
    border-radius: 50px;
}

p{
    text-align: center;
}

@media (max-width: 500px){
    #header{
        display: grid;
        justify-content: center;
        padding-bottom: 3vh;
    }
    #header-img{
        margin: auto;
    }

    #nav-bar ul{
        margin: 0;
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }

    .nav-link{
        font-size: small;
    }

    #tesla-lineup-title{
        text-align: center;
    }

    #tesla-video{
        display: none;
    }

    


}